.events {

  &__wrapper {
    position: relative;
    padding: 100px 55px;

    @media (max-width: 700px) {
      padding: 50px 20px;
    }
  }

  &__title {
    display: block;
    text-align: center;
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 120%;

    @media (max-width: 1200px) {
      margin-bottom: 55px;
    }

    @media (max-width: 700px) {
      text-align: start;
      width: 270px;
      font-size: 36px;
      line-height: 125%;
    }
  }
}
