.exhibitions {

  &__wrapper {
    position: relative;
    padding: 160px 155px 100px;

    @media (max-width: 1080px) {
      padding: 110px 100px 60px;
    }

    @media (max-width: 700px) {
      padding: 60px 20px;
    }
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: $c-black-big-text;

    display: block;
    text-align: center;
    margin-bottom: 100px;

    @media (max-width: 720px) {
      font-size: 36px;
      line-height: 125%;
    }

    @media (max-width: 700px) {
      text-align: start;
      width: 270px;
    }
  }

  &__dates {
    font-size: 48px;
    line-height: 120%;
    color: $c-red-text;

    margin-left: 500px;
    margin-bottom: 20px;

    @media (max-width: 1280px) {
      margin-left: 400px;
    }

    @media (max-width: 1080px) {
      margin-left: 200px;
    }

    @media (max-width: 930px) {
      margin-left: 50px;
    }

    @media (max-width: 700px) {
      font-size: 24px;
      line-height: 125%;
      margin-left: 0;
    }
  }

  &__img:first-of-type {
    position: absolute;
    top: 0;
    left: -100px;

    @media (max-width: 1080px) {
      width: 320px;
      height: 446px;
      top: 300px;
      left: -50px;
    }

    @media (max-width: 700px) {
      width: 305px;
      height: 355px;
      transform: matrix(-0.99, 0.16, 0.16, 0.99, 0, 0) rotate(-20deg);
      top: 250px;
      left: 400px;
    }

    @media (max-width: 600px) {
      left: 300px;
    }

    @media (max-width: 500px) {
      left: 140px;
    }
  }

  &__img:nth-of-type(2) {
    position: absolute;
    top: 700px;
    right: -200px;

    @media (max-width: 1080px) {
      top: 750px;
      right: 0;
      width: 360px;
      height: 300px;
    }

    @media (max-width: 700px) {
      top: 650px;
      right: 350px;
      transform: rotate(180deg);
    }

    @media (max-width: 400px) {
      right: 150px;
    }
  }

  &__img:nth-of-type(3) {
    position: absolute;
    top: 1050px;
    left: 0;

    @media (max-width: 1080px) {
      top: 1150px;
      left: -50px;
      width: 320px;
      height: 255px;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }

  &__img--small {
    width: 203px;
    height: 174px;
    display: none;

    @media (max-width: 700px) {
      display: block;
      position: absolute;
      top: 1050px;
      left: 200px;
    }
  }

  &__archive {
    //
  }
}
