.main-menu {

  &__dates {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $c-white-text;
    padding-top: 120px;
    padding-bottom: 10px;

    @media (max-width: 630px) {
      padding-top: 100px;
      padding-bottom: 20px;
    }
  }

  &__title {

    &-inner {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 96px;
      line-height: 100%;
      color: $c-white-text;

      @media (max-width: 860px) {
        font-size: 72px;
        padding-left: 0;
      }

      @media (max-width: 630px) {
        font-size: 48px;
      }
    }

    &-wrap {
      padding-left: 100px;

      @media (max-width: 860px) {
        padding-left: 40px;
      }

      @media (max-width: 630px) {
        padding-left: 0;
      }
    }

    @media (max-width: 860px) {
      padding-left: 45px;
    }

    @media (max-width: 430px) {
      padding-left: 0;
    }
  }

  &__description {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $c-white-text;
    padding-left: 100px;
    padding-top: 40px;
    width: 470px;

    @media (max-width: 860px) {
      width: 273px;
      padding-left: 0;
    }

    @media (max-width: 630px) {
      padding-top: 30px;
    }
  }

  &__image-box {
    position: absolute;
    width: 673px;
    height: 753px;
    left: 607px;
    bottom: 0;

    @media (max-width: 1100px) {
      width: 573px;
      height: 653px;
      left: 507px;
    }

    @media (max-width: 860px) {
      width: 354px;
      height: 400px;
      left: 400px;
    }

    @media (max-width: 630px) {
      width: 245px;
      height: 273px;
      left: 300px;
    }

    @media (max-width: 430px) {
      left: 212px;
      bottom: -28px;
    }
  }

  &__image {

    @media (max-width: 1100px) {
      width: 573px;
      height: 653px;
    }

    @media (max-width: 860px) {
      width: 354px;
      height: 400px;
    }

    @media (max-width: 630px) {
      width: 245px;
      height: 273px;
    }
  }

  &__image-box:after {
    content: "Дівчина з Поділля В. Тропінін";
    width: 150px;
    height: 48px;
    position: absolute;
    top: 376.5px;
    right: 7%;

    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $c-white-text;

    @media (max-width: 1220px) {
      display: none;
    }
  }

  &__bottom-info {
    position: absolute;
    bottom: 52px;
    left: 55px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    color: $c-white-text;
    opacity: 0.7;

    @media (max-width: 1220px) {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-left: 20px;
      width: 600px;
      height: 1px;
      background: $c-white-text;
      opacity: 0.3;
    }
  }

  &__button {
    position: relative;
    margin-top: 60px;
    margin-left: 100px;
    z-index: 1;

    @media (max-width: 860px) {
      margin-left: 0;
      margin-top: 80px;
    }

    @media (max-width: 630px) {
      margin-top: 50px;
    }
  }
}
